<header class="py-2">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="images/logo_1.png" style="width:258px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <img src="images/ham.png" style="width:40px" class="hamburger">
      </button>
      <div class="collapse navbar-collapse justify-content-lg-end flex-lg-grow-0 text-lg-end" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link fw-medium" href="javascript:void(0)">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium" href="javascript:void(0)">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  fw-medium" href="javascript:void(0)">Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  fw-medium" href="javascript:void(0)">Testimonial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  fw-medium" href="javascript:void(0)">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  fw-medium" href="javascript:void(0)">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>